<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Edit your post</h2>
    <main>
        <div class="form-container">
            <h3 class="form-header">Edit Post</h3>
            <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
                <label for="content" class="form-label">Post Content:</label><br>
                <textarea id="content" class="form-input" rows="8" cols="40" name="content"><%= post.content %></textarea><br><br>
                <button class="submit-button">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>
